@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
.home-body {
  background-image: url("../images/ok5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.about-body {
  background-image: url("../images/aboutbg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card {
  border: 1px solid rgba(56, 197, 217, 0.87) !important;
}

.border-top-card {
  border-top: 1px solid rgba(56, 197, 217, 0.87) !important;
}

.card-text {
  margin-bottom: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
}

a:hover {
  text-decoration: none !important;
}

.container {
  max-width: 100%;
}

.mini-card-body {
  background-color: #18c1ee!important;
  color: white;
}

.mini-card-body:hover {
  background-color: rgba(51, 130, 167, 0.842)!important;
  color: white;
}

.mini-card-title {
  font-size: 16px;
  font-weight: 600;
}

.contact-body {
  padding-top: 200px;
  padding-bottom: 100px;
  color: white;
  background-image: url("../images/contactbg1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-black1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 3px solid rgb(0, 0, 0);
}

.add-body {
  padding-top: 150px;
  padding-bottom: 100px;
  color: black;
  background-image: url("../images/addbg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.chef-special-content {
  padding-top: 150px;
  padding-bottom: 100px;
  background-image: url("../images/bg7.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.dessert-content {
  padding-top: 150px;
  padding-bottom: 100px;
  background-image: url("../images/ice_cream_cone_lavender_dessert_101521_1920x1080.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bb-content {
  padding-top: 150px;
  padding-bottom: 100px;
  background-image: url("../images/bbg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.special-body {
  color: black;
}

.validation-error {
  color: #ff8c8c;
}

.full-recipe-details {
  margin-top: 200px;
  margin-bottom: 100px;
}

.btn-view {
  color: #fff;
  background-color: #82878c2b;
  border-color: #8d9baa !important;
  text-decoration: none;
}

.btn-view:hover {
  color: #fff;
  background-color: rgba(56, 197, 217, 0.87);
  border-color: #8d9baa !important;
}

.validation-error-red {
  color: #ff0000;
  margin-top: -23px;
}

.layer {
  background-color: rgba(38, 35, 35, 0.65);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layer2 {
  background-color: rgba(105, 158, 202, 0.33);
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 8px 6px -6px #050e11;
}

.layer3 {
  background-color: rgba(1, 24, 29, 0.45) !important;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 8px 6px -6px #050e11;
}

.layer4 {
  background-color: rgba(255, 255, 255, 0.72);
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 8px 6px -6px #050e11;
}

.card {
  display: inline-block;
  overflow: hidden;
}

.card-title {}

.card-hr {
  background-color: #9da5aeba !important;
}

.card-img-top-height {
  height: 200px;
  display: block;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.recipe-img-top {
  display: block;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.img-div {
  overflow: hidden;
}

.card-img-top:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.recipe-img-top:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.bg-blue {
  background-color: #18c1ee!important;
}

.brand-name {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}

.brand-name-footer {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
}

.carousel {}

.dropdown-menu {
  background-color: rgb(24, 193, 238, 0.9) !important;
}

.dropdown-item:hover {
  background-color: rgb(24, 193, 238, 0.9) !important;
  color: black !important;
  font-weight: 800 !important;
}

.carousel-item {
  height: 90vh;
  /* min-height: 350px; */
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.check-new {
  position: relative;
  margin-bottom: 20px;
}

.check-new::after {
  content: " ";
  position: absolute;
  bottom: 0px;
  margin-bottom: -12px;
  width: 35px;
  border-bottom: 4px solid rgb(24, 193, 238);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.check-wrapper {}

.block-layer {
  background: #ffffff;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  border-radius: 3px;
  position: relative;
}

.new-suggestion {
  width: 100%;
}

.carousel-caption {
  top: 40%;
  bottom: auto;
  font-size: 6vw;
  font-family: 'Pacifico', cursive;
  padding-top: 0px !important;
}

.logo {}

.logo p {
  font-size: 25px;
  padding: 0px;
  margin: 0px;
}

li a {
  font-size: 20px;
  /* color: white !important; */
  font-weight: 800 !important;
  color: white !important;
}

.nav-link:hover {
  color: black !important;
}

.navbar {
  justify-content: space-around;
}

.recipe-section .container {
  padding-top: 60px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 60px;
}

.recipe-section-title {
  margin-bottom: 40px;
  color: white;
  font-weight: 800 !important;
  position: relative;
  text-shadow: 2px 2px 4px #000000;
}

.ingredient-title {
  font-size: 22px;
}

.steps-title {
  font-size: 22px;
}

.recipe-section-title::after {
  content: " ";
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-bottom: -1px;
  width: 100px;
  border-bottom: 4px solid rgb(24, 193, 238);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100px
}

.module {
  width: 250px;
  margin: 0 0 1em 0;
  overflow: hidden;
}

.overflow {
  --max-lines: 3;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem;
  /* space for ellipsis */
}

.recipe-media {
  width: 100%;
  overflow: hidden;
}

.recipe-body {
  background-color: #F5F5F5;
}

.fa {
  color: white;
}

.wrap {
  margin: 0 auto;
}

.footer-header {
  word-wrap: break-word;
  font-size: 3vw !important;
}

.footer-icon {
  font-size: 1.3rem !important;
  color: white;
}

.footer-text {
  color: white;
  font-size: 4vw;
  font-weight: 500;
}

.footer-social-info {
  margin-top: 20px;
  color: white;
}

.footer-social-info a {
  color: white;
}

.social-info-icon {
  color: white !important;
  font-size: 10px;
}

.copyright {
  color: white;
}

.card-body {
  background-color:rgba(3, 9, 14, 0.85) !important;
  color: white;
}

.card {
  background: transparent !important;
}

.card-footer {
  background-color: rgba(52, 58, 64, 0.85) !important;
  color: white;
}

.about-content {
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
}

.about-section-title {
  margin-bottom: 40px;
  color: white;
  font-weight: 800 !important;
  position: relative;
}

.about-us-member-image {
  width: 100%;
  height: 350px;
}

.about-us-member-info {
  height: 100%;
  font-size: 1.5vw;
  font-weight: 800 !important;
}

.about-us-card {
  /* background-color: rgb(52, 58, 64, 0.8) !important; */
  background-color: rgba(103, 230, 255, 0.4) !important;
  color: white;
}

.member-social {
  margin-top: -10px;
  font-size: 0.8vw;
}

.login-content {
  padding-top: 200px;
  padding-bottom: 100px;
  color: white;
  background-image: url("../images/login-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.btn-login {
  background-color: rgba(103, 230, 255, 0.4) !important;
  color: white;
}

.btn-message {
  background-color: rgba(47, 188, 217, 0.56) !important;
  color: white;
}

.btn-login:hover {
  background-color: black !important;
}

.btn-message:hover {
  background-color: black !important;
}

.copyright {
  font-size: 3vw;
}

.fab:hover {
  color: black;
}

.footer-section-title {
  font-size: 1vw;
}

.footer-brand-logo {
  font-size: 40px;
}

.shadow-lg1 {
  /* border-color: rgb(24, 193, 238, 0.9) !important; */
  box-shadow: 0 0 5px rgb(24, 193, 238, 0.9) !important;
}

@media (max-width: 575px) {
  .footer-section-title {
    font-size: 1rem;
  }
  .member-social {
    margin-top: -10px;
    font-size: 0.5rem;
}
  .about-us-member-info {
    height: 100%;
    font-size: 1.1rem;
    font-weight: 600 !important;
}

  .display-4 {
    font-size: 7.5vw !important;
    font-weight: 300;
    line-height: 1.2;
  }
  .carousel-caption {
    font-size: 10vw !important;
    font-family: 'Pacifico', cursive;
  }
  .footer-text {
    color: white;
    font-size: 2.8vw;
    font-weight: 500;
  }
  .footer-brand-logo {
    font-size: 1.5rem;
  }
  dd {
    margin-bottom: .5rem;
    margin-left: 0;
    font-size: 1rem;
  }
  .footer-social-info a {
    color: white;
    font-size: 0.7rem;
  }
  .copyright {
    font-size: 0.9rem;
  }
}

/*  Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .carousel-caption {
    font-size: 9vw !important;
    font-family: 'Pacifico', cursive;
  }
  .about-us-member-info {
    height: 100%;
    font-size: 1.5rem;
    font-weight: 600 !important;
}
.member-social {
  margin-top: -10px;
  font-size: 1.2vw;
}
  .display-4 {
    font-size: 6.5vw !important;
    font-weight: 300;
    line-height: 1.2;
  }
  .footer-social-info a {
    color: white;
    font-size: 1rem;
  }
  .footer-text {
    color: white;
    font-size: 1rem;
    font-weight: 500;
  }
  .copyright {
    font-size: 1rem;
  }
  .footer-section-title {
    font-size: 1.5rem;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .carousel-caption {
    font-size: 8vw !important;
    font-family: 'Pacifico', cursive;
  }
  .display-4 {
    font-size: 5.5vw !important;
    font-weight: 300;
    line-height: 1.2;
  }
  .footer-text {
    color: white;
    font-size: 1rem;
    font-weight: 500;
  }
  .copyright {
    font-size: 1.5vw;
  }
  .about-us-member-info {
    height: 100%;
    font-size: 1.5rem;
    font-weight: 600 !important;
}

.member-social {
  margin-top: -10px;
  font-size: 0.7rem;
}

}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .carousel-caption {
    font-size: 7vw !important;
    font-family: 'Pacifico', cursive;
  }
  .display-4 {
    font-size: 4.5vw !important;
    font-weight: 300;
    line-height: 1.2;
  }
  .footer-social-info a {
    color: white;
    font-size: 1.5vw;
  }
  .footer-text {
    color: white;
    font-size: 1rem;
    font-weight: 500;
  }
  .footer-section-title {
    font-size: 2.5vw;
  }
  .copyright {
    font-size: 1vw;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .carousel-caption {
    font-size: 5.8rem !important;
    font-family: 'Pacifico', cursive;
  }
  .copyright {
    font-size: 16px;
  }
  .display-4 {
    font-size: 3rem !important;
    font-weight: 300;
    line-height: 1.2;
  }
  .footer-social-info a {
    color: white;
    font-size: 16px;
  }
  .footer-text {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .footer-section-title {
    font-size: 1.5rem;
  }
  .footer-brand-logo {
    font-size: 50px;
  }
}

}